<% content_for :title do %>quill.io: <%= @user.username %><% end %>

<div class="blog-heading">
  <div class="big-profile-pic">
    <img height="200" width="200" src="<%= @user.profile_pic_url || "http://placehold.it/200x200" %>">
  </div>

  <h1><%= link_to @user.username, blog_url(@user) %>'s blog</h1>

  <p class="lead"><%= @user.description %></p>
</div>

<%= render partial: "relationships/follow_unfollow_buttons", locals: { user: @user } %>

<% if @posts.empty? %>
  <p>nothing to see here...</p>
<% else %>
  <% @posts.each do |post| %>
    <%= render partial: "posts/polymorphic_post_show", 
      locals: { post: post, display_author: false, big_title: false, collapsible_reblogs: true } %>
  <% end %>
<% end %>