<div class="panel panel-default">
  <div class="panel-body">
    <h4>
      <%= reblogged_post.title %>
    </h4>
    <div id="new-reblog">
      <form action="reblogs" method="post">
        <input type="hidden" name="parent_id" value="<%= parent_id %>">
        <input type="hidden" name="parent_type" value="<%= parent_type %>">
        <input type="hidden" name="post_type" value="reblog">
        <input type="hidden" name="post[title]" value="<%= reblogged_post.title %>">
        <% rows = reblogged_post.body.split("\n").length + 3 %>
        <textarea class="form-control" rows="<%= rows %>" name="post[body]" style="resize: vertical;">
[<%= reblogged_post.user.username %>](<%= get_post_url(reblogged_post) %>)
<%= quote(reblogged_post.body) %>

</textarea>

        <%= button_to "Post", posts_url, {action: :new, class: 'btn pull-right btn-primary'} %>
      </form>
    </div>
  </div>
</div>