<div class="panel panel-default">
  <div class="panel-body">
    <% if display_author %>
      <strong><%= link_to post.user.username, blog_url(post.user) %></strong> 
    <% end %>
    
    <% if big_title %>
      <h2><%= link_to post.title, blog_reblog_url(post.user, post) %></h2>
    <% else %>
      <h3><%= link_to post.title, blog_reblog_url(post.user, post) %></h3>
    <% end %>
    
    <%= markdown.render(post.body.split("\n").join("\n\n")).html_safe %>

    <span class="pull-right">
      <!-- <a class="btn btn-sm">like</a> -->
      <% if post.rebloggable %>
        <%= post.reblog_descendents %> notes.
        <% if current_user %>
          <%= reblog_link(post, "btn btn-sm") %>
        <% end %>
      <% end %>
    </span>
    
  </div>
</div>