<div class="panel panel-default">
  <div class="panel-body">
    <% if display_author %>
      <strong><%= link_to post.user.username, blog_url(post.user) %></strong>
      <div class="profile-picture">
        <img height="80" width="80" src="<%= post.user.profile_pic_url || "http://placehold.it/80x80" %>">
      </div>
    <% end %>

    <% if big_title %>
      <h2><%= link_to post.title, blog_post_url(post.user, post) %></h2>
    <% else %>
      <h3><%= link_to post.title, blog_post_url(post.user, post) %></h3>
    <% end %>

    <% case post %>
    <% when TextPost %>
      <%= render partial: "text_posts/text_post_show", locals: { post: post, display_author: true, big_title: false} %>
    <% when Reblog %>
      <%= render partial: "reblogs/reblog_show", locals: { post: post, display_author: true, big_title: false} %>
    <% end %>

    <% if post.is_rebloggable %>
      <% if collapsible_reblogs %>
        <a data-toggle="collapse" data-target="#comments-on-<%= post.id %>-<%= post.class.name %>">
          <%= post.reblog_descendents %> notes
        </a>
      <% else %>
        <%= post.reblog_descendents %> notes
      <% end %>
      , <%= Like.likes_count(post) %> likes.
    <% end %>

    <% if current_user %>
      <span class="pull-right">
        <% if post.is_rebloggable %>
          <%= reblog_link(post, "btn btn-sm") %>
        <% end %>

        <% if current_user.likes?(post) %>
          <%= link_to '<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>'.html_safe,
            unlike_url(post.class.name, post.id),
            method: :post %>
        <% else %>
          <%= link_to '<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: white;"></span>'.html_safe,
            like_url(post.class.name, post.id),
            method: :post %>
        <% end %>
      </span>
    <% end %>

    <% if collapsible_reblogs && post.reblogs.length > 0 %>
      <div class="collapse" id="comments-on-<%= post.id %>-<%= post.class.name %>">
        <hr>

        <% post.reblogs.each do |reblog| %>
          <%= render partial: "reblogs/condensed_reblog", locals: { reblog: reblog } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>