<div class="panel panel-default">
  <div class="panel-body">
    <% if display_author %>
      <strong><%= link_to post.user.username, blog_url(post.user) %></strong> 
    <% end %>
    
    <% if big_title %>
      <h2><%= link_to post.title, blog_post_url(post.user, post) %></h2>
    <% else %>
      <h3><%= link_to post.title, blog_post_url(post.user, post) %></h3>
    <% end %>
    
    <%= markdown.render(post.body.split("\n").join("\n\n")).html_safe %>

    <p>
      <% post.tags.each do |tag| %>
        <span class="label label-default">#<%= tag.tag %></span>
      <% end %>
    </p>

    <% if current_user %>
      <%= render partial: "posts/reblog_panel", locals: { post: post } %>
    <% end %>
  </div>
</div>