<!DOCTYPE html>
<html>
<head>
  <title>TumblrClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <h1>tumblr clone</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7 col-xs-offset-2">
      <%= yield %>
    </div>

    <div class="col-xs-2">
      <% if user_signed_in? %>
        <p>Hey there <%= current_user.username %>.</p>
        <p><%= link_to('your blog', blog_url(current_user)) %>.</p>
        <p><%= link_to('dashboard', root_url) %>.</p>
        <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
      <% else %>
        <p><%= link_to('Login', new_user_session_path)  %></p>
        <p><%= link_to('Sign up', new_user_registration_path)  %>  </p>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>
