<!DOCTYPE html>
<html>
<head>
  <% title = yield :title %>
  <title><%= title.length > 0 ? title : "Quill" %></title>

  <!-- I am doing this horribly wrong. Sorry. -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  
  <script>
    window.current_user = <%= current_user ? (render partial: "api/users/user.json.jbuilder", 
      locals: { user: current_user }).html_safe : "undefined" %>;
  </script>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-2">
      <h1><a href="/">quill.io</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-7 col-xs-offset-2">

      <% if flash[:notice] %>
        <div class="panel panel-info">
          <div class="panel-body">
            <%= flash[:notice] %>
          </div>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="panel panel-danger">
          <div class="panel-body">
            <%= flash[:alert] %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <div class="col-xs-2">
      <div class="panel">
          
        <div class="panel-body">
          <% if user_signed_in? %>
            <div class="profile-picture">
              <%= image_tag(current_user.guaranteed_profile_pic_url) %>
            </div>
            <p>Hey there, <%= current_user.username %></p>
            <p><%= link_to('your blog', blog_url(current_user.username)) %></p>
            <p><%= link_to('your posts', posts_url) %>  <span class="badge"><%= current_user.posts.count %></span></p>
            <p>
              <%= link_to('following', following_url) %>  
              <span class="badge">
                <%= current_user.followed_users.count %>
              </span>
            </p>
            <p>
              <%= link_to('followers', followers_url) %>
              <span class="badge">
                <%= current_user.followers.count %>
              </span>
            </p>
            <p><%= link_to('dashboard', root_url) %></p>
            <p><%= link_to('preferences', preferences_url) %></p>
            <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
          <% else %>
            <p><%= link_to('Login', new_user_session_path)  %></p>
            <p><%= link_to('Sign up', new_user_registration_path)  %>  </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
